<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/css/styles.css" type="text/css" />

		<title>Shortables</title>

		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/shortables.js"></script>
	</head>
	<body>
        
        {{> nav }}
        
    <!-- Page Content -->
    <div class="container">

    	{{{ body }}}
        
    </div>
    <!-- /.container -->
        
    <!-- Footer -->
    {{> footer }}
        
    </body>
</html>
