{{#if shortables}}
    <div id="shortables-list" class="post-list">
        {{#each shortables}}
            {{#if ../user}}
                {{> posts/shortable post=this user=../user}}
            {{else}}
                {{> posts/shortable post=this}}
            {{/if}}
      {{/each}}
    </div>
{{else}}
    <h1>Sorry, nothing found by your request...</h1>
{{/if}}
