{{#if shortables}}
    <div id="shortables-list" class="post-list">
        {{#each shortables}}
            {{#if ../user}}
                {{> posts/shortable post=this user=../user}}
            {{else}}
                {{> posts/shortable post=this}}
            {{/if}}
      {{/each}}
    </div>
{{else}}
    <h1>Sorry, nothing found by your request...</h1>
{{/if}}


<div id="shortable-modal" class="modal fade modal-lg" role="dialog">
	<div class="modal-dialog modal-lg">
      <!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
         		<h4 class="modal-title" id="short_title"></h4>
				<button type="button" class="close" data-dismiss="modal">
					&times;
				</button>
			</div>
       		
       		<div class="modal-body" id="short_content"></div>
			
			<div class="modal-footer">
	         	<button type="button" class="btn btn-default" data-dismiss="modal">
	         		Close
	         	</button>
			</div>
     	</div>
	</div>
</div>
