html {
    height: 100%;
    background: skyblue,
}

body {
    padding-top: 75px;
    background: linear-gradient(to bottom, #104E83, skyblue);
    background-repeat: space;
    height: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

nav, footer {
    background-color: #104E83;
    color: white;
    box-shadow: 5px 5px 15px #104E83;
}

.top-menu {
    text-align: center;
}

.navbar-brand {
    font-family: 'Courgette', cursive;
    font-size: 22px;
}

.card {
    width: 75%;
    margin: auto;
}

.space {
    padding: 3%;
}

.box {
    width: 40%;
    background-color: aliceblue;
    border: 1px solid grey;
    padding: 30px;
    padding-bottom: 45px;
}

.btn {
    border: 1px solid grey;
    float: right;
    position: relative;
}

.green {
    color: #43A047;
}

.red {
    color: #E53935;
}

.pink {
    color: #E91E63,
}

p {
    color: black;
    font-family: Avenir, sans-serif;
}

h1, h2, h3 {
    color: midnightblue;
}

a {
    color: white;
}

a:hover {
    color: azure;
}