html {
    height: 110%;
    background: linear-gradient(to bottom, #104E83, skyblue);
}

body {
    padding-top: 75px;
    background: linear-gradient(to bottom, #104E83, skyblue);
    background-repeat: no-repeat;
    bottom: 110%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

nav, footer {
    background-color: #104E83;
    color: white;
    box-shadow: 5px 5px 15px #104E83;
}

.top-menu {
    text-align: center;
}

.navbar-brand {
    font-family: 'Courgette', cursive;
    font-size: 22px;
}

.card {
    width: 75%;
    margin: auto;
}

.box {
    width: 40%;
    background-color: aliceblue;
    border: 1px solid grey;
    padding: 30px;
    padding-bottom: 45px;
}

.btn {
    border: 1px solid grey;
    float: right;
    position: relative;
}

p {
    color: black;
    font-family: Avenir, sans-serif;
}

h1, h2, h3 {
    color: ;
    font-family: ;
    font-size: ;
}

a {
    color: white;
}